@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f0f0f;
  }
  
  .dark {
    --background: #000000;
    --foreground: #ffffff;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-300;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 dark:bg-zinc-800 rounded-full;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300 dark:bg-zinc-700;
  }
}
